<!DOCTYPE html>
<html>
  <head>
    <title>Lingua</title>
  </head>

  <body>
    <p>Re-write the sentences using "must have", "might have", or "can't have"</p>

<form action="/action_page.php">
  1 <label>I'm sure the burglar got in through an open window.</label><br>
  <label for="lname">The burglar</label> <input type="text" id="fname" name="fname">.<br>
  2 <label>Perhaps you left your bag on your seat in the restaurant.</label><br>
  <label for="lname">You</label> <input type="text" id="fname" name="fname">.<br>
  3 <label>I'm sure my wife didn't take my keys. She never does that.</label><br>
  <label for="lname">My wife</label> <input type="text" id="fname" name="fname">. She never does that.<br>
  4 <label>Perhaps our neighbours have gone on holiday. There are no lights on in the house.</label><br>
  <label for="lname">Our neighbours</label> <input type="text" id="fname" name="fname">. There are no lights on in the house.<br>
  5 <label>I'm sure the Mayor didn't accept the bribe. He's a very honest man.</label><br>
  <label for="lname">The Mayor</label> <input type="text" id="fname" name="fname">. He's a very honest man.<br>
  6 <label>Perhaps the thieves sold the stolen goods.</label><br>
  <label for="lname">The thieves</label> <input type="text" id="fname" name="fname">.<br>
  7 <label>I'm sure my girlfriend was at home last night. She was studying for an exam.</label><br>
  <label for="lname">My girlfriend</label> <input type="text" id="fname" name="fname">. She was studying for an exam.<br>
  8 <label>I'm sure I didn't borrow any money from you. I never forget things like that.</label><br>
  <label for="lname">I</label> <input type="text" id="fname" name="fname">. I never forget things like that.<br>
</form>
  </body>
</html>
