<!DOCTYPE html>
<html>
  <head>
    <title>Lingua</title>
  </head>

  <body>
    <p>Complete the sentences</p>
    1. <label>  Something that is <label><input type="text" id="fname1" name="fname11" value="abvgdejka"> <label> does not cost a lot to buy or use.<label><br>
    2. <label>  A <label><input type="text" id="fname1" name="fname11" value="abvgdejka"> <label> product has no defects.<label><br>
    3. <label>  A <label><input type="text" id="fname1" name="fname11" value="abvgdejka"> <label> product is attractive and fashionable.<label><br>
    4. <input type="text" id="fname1" name="fname11" value="abvgdejka"> <label> goods are expensive and intended to appeal to people in a high social class.<label><br>
    5. <label>  If a product is <label><input type="text" id="fname1" name="fname11" value="abvgdejka"> <label> it is worth the price you pay for it.<label><br>
    6. <label>  If something is <label><input type="text" id="fname1" name="fname11" value="abvgdejka"> <label> you can trust it or depend on it.<label><br>
    7. <label>  A <label><input type="text" id="fname1" name="fname11" value="abvgdejka"> <label> brand is not affected by changes in fashion.<label><br>
  
<br>
  <button onclick="myFunction(this.dataset.param)" data-param=<%= @values %>>Check</button>
  <div id="bottom-alert" style="position: fixed; bottom: 0; left: 0; right: 0; background-color: #f44336; color: #fff; padding: 15px; display: none;">
  Это сообщение отображается внизу экрана!
</div>
  </body>
</html>

<script>
  function myFunction(data) {
    answers = {"1": "inexpensive", "2": "well=made", "3" :"stylish", "4": "upmarket", "5" :"value for money", "6": "reliable", "7": "timeless"}
    console.log(answers);

    // alert(data.toString());
  var alertElement = document.getElementById("bottom-alert");
  document.getElementById("bottom-alert").innerHTML = "aaa";
  alertElement.style.display = "block";
  }
</script>
