<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>PoC</title>
  <link href="css/style.css" rel="stylesheet">
  <link href='css/roboto-font.css' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="page-content">
  <div class="card red">
    <div class="header">
      <div class="image-container">
        <img src="img/gite.svg" alt="gite"/>
      </div>
      <span>Red house</span>
    </div>
    <div class="statistics">
      <div class="item">
        <span class="title">10</span>
        <span class="text">Downstream</span>
      </div>
      <div class="item">
        <span class="title">74</span>
        <span class="text">Upstream</span>
      </div>
      <div class="item disabled">
        <span class="title">3.2</span>
        <span class="text">Gen voltage</span>
      </div>
      <div class="item disabled">
        <span class="title">2.2</span>
        <span class="text">Var voltage</span>
      </div>
    </div>
    <div class="panel">
      <div class="item button-block">
        <div class="button enabled">
          <img src="img/lightbulb-dark.svg" alt="Bulb"/>
          <div class="title">
            <span class="main">Led 1</span>
            <span class="additional">on</span>
          </div>
        </div>
        <div class="button">
          <img src="img/lightbulb.svg" alt="Bulb"/>
          <div class="title">
            <span class="main">Led 2</span>
            <span class="additional">off</span>
          </div>
        </div>
        <div class="button">
          <img src="img/line-end-circle.svg" alt="Circle"/>
          <div class="title">
            <span class="main">MG</span>
            <span class="additional">off</span>
          </div>
        </div>
        <div class="button disabled">
          <img src="img/line-start-circle.svg" alt="Circle"/>
          <div class="title">
            <span class="main">PS</span>
            <span class="additional">off</span>
          </div>
        </div>
        <div class="button additional">
          <img src="img/bolt.svg" alt="Bolt"/>
          <div class="title">
            <span class="main">Additional load</span>
            <span class="additional">off</span>
          </div>
        </div>
      </div>
      <div class="item wallet">
        <div class="header">
          <img src="img/wallet.svg" alt="Wallet"/>
          <span>$ 124</span>
        </div>
        <div class="content">
          <div class="title">Wallet</div>
          <div class="list">
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card blue">
    <div class="header">
      <div class="image-container">
        <img src="img/gite.svg" alt="gite"/>
      </div>
      <span>Blue house</span>
    </div>
    <div class="statistics">
      <div class="item">
        <span class="title">10</span>
        <span class="text">Downstream</span>
      </div>
      <div class="item">
        <span class="title">74</span>
        <span class="text">Upstream</span>
      </div>
      <div class="item disabled">
        <span class="title">3.2</span>
        <span class="text">Gen voltage</span>
      </div>
      <div class="item">
        <span class="title">2.2</span>
        <span class="text">Var voltage</span>
      </div>
    </div>
    <div class="panel">
      <div class="item button-block">
        <div class="button enabled">
          <img src="img/lightbulb-dark.svg" alt="Bulb"/>
          <div class="title">
            <span class="main">Led 1</span>
            <span class="additional">on</span>
          </div>
        </div>
        <div class="button">
          <img src="img/lightbulb.svg" alt="Bulb"/>
          <div class="title">
            <span class="main">Led 2</span>
            <span class="additional">off</span>
          </div>
        </div>
        <div class="button">
          <img src="img/line-end-circle.svg" alt="Circle"/>
          <div class="title">
            <span class="main">MG</span>
            <span class="additional">off</span>
          </div>
        </div>
        <div class="button">
          <img src="img/line-start-circle.svg" alt="Circle"/>
          <div class="title">
            <span class="main">PS</span>
            <span class="additional">off</span>
          </div>
        </div>
        <div class="button additional">
          <img src="img/bolt.svg" alt="Bolt"/>
          <div class="title">
            <span class="main">Additional load</span>
            <span class="additional">off</span>
          </div>
        </div>
      </div>
      <div class="item wallet">
        <div class="header">
          <img src="img/wallet.svg" alt="Wallet"/>
          <span>$ 124</span>
        </div>
        <div class="content">
          <div class="title">Wallet</div>
          <div class="list">
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card grey-half">
    <div class="content">
      <div class="image-container">
        <img src="img/gite-red.svg" alt="gite"/>
        <img src="img/gite-blue.svg" alt="gite"/>
        <img src="img/dynamic-form.svg" alt="gite"/>
        <img src="img/gite-yellow.svg" alt="gite"/>
        <img src="img/gite-green.svg" alt="gite"/>
      </div>
    </div>
    <div class="list">
      <div class="element">
        <p>Sell</p>
        <p>04.05.2023</p>
        <p>$ 124</p>
      </div>
      <div class="element">
        <p>Sell</p>
        <p>04.05.2023</p>
        <p>$ 124</p>
      </div>
      <div class="element">
        <p>Sell</p>
        <p>04.05.2023</p>
        <p>$ 124</p>
      </div>
    </div>
  </div>
  <div class="card yellow">
    <div class="header">
      <div class="image-container">
        <img src="img/gite.svg" alt="gite"/>
      </div>
      <span>Yellow house</span>
    </div>
    <div class="statistics">
      <div class="item">
        <span class="title">10</span>
        <span class="text">Downstream</span>
      </div>
      <div class="item">
        <span class="title">74</span>
        <span class="text">Upstream</span>
      </div>
      <div class="item">
        <span class="title">3.2</span>
        <span class="text">Gen voltage</span>
      </div>
      <div class="item disabled">
        <span class="title">2.2</span>
        <span class="text">Var voltage</span>
      </div>
    </div>
    <div class="panel">
      <div class="item button-block">
        <div class="button enabled">
          <img src="img/lightbulb-dark.svg" alt="Bulb"/>
          <div class="title">
            <span class="main">Led 1</span>
            <span class="additional">on</span>
          </div>
        </div>
        <div class="button">
          <img src="img/lightbulb.svg" alt="Bulb"/>
          <div class="title">
            <span class="main">Led 2</span>
            <span class="additional">off</span>
          </div>
        </div>
        <div class="button">
          <img src="img/line-end-circle.svg" alt="Circle"/>
          <div class="title">
            <span class="main">MG</span>
            <span class="additional">off</span>
          </div>
        </div>
        <div class="button">
          <img src="img/line-start-circle.svg" alt="Circle"/>
          <div class="title">
            <span class="main">PS</span>
            <span class="additional">off</span>
          </div>
        </div>
        <div class="button additional">
          <img src="img/bolt.svg" alt="Bolt"/>
          <div class="title">
            <span class="main">Additional load</span>
            <span class="additional">off</span>
          </div>
        </div>
      </div>
      <div class="item wallet">
        <div class="header">
          <img src="img/wallet.svg" alt="Wallet"/>
          <span>$ 124</span>
        </div>
        <div class="content">
          <div class="title">Wallet</div>
          <div class="list">
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card green">
    <div class="header">
      <div class="image-container">
        <img src="img/gite.svg" alt="gite"/>
      </div>
      <span>Green house</span>
    </div>
    <div class="statistics">
      <div class="item">
        <span class="title">10</span>
        <span class="text">Downstream</span>
      </div>
      <div class="item">
        <span class="title">74</span>
        <span class="text">Upstream</span>
      </div>
      <div class="item">
        <span class="title">3.2</span>
        <span class="text">Gen voltage</span>
      </div>
      <div class="item">
        <span class="title">2.2</span>
        <span class="text">Var voltage</span>
      </div>
    </div>
    <div class="panel">
      <div class="item button-block">
        <div class="button enabled">
          <img src="img/lightbulb-dark.svg" alt="Bulb"/>
          <div class="title">
            <span class="main">Led 1</span>
            <span class="additional">on</span>
          </div>
        </div>
        <div class="button">
          <img src="img/lightbulb.svg" alt="Bulb"/>
          <div class="title">
            <span class="main">Led 2</span>
            <span class="additional">off</span>
          </div>
        </div>
        <div class="button">
          <img src="img/line-end-circle.svg" alt="Circle"/>
          <div class="title">
            <span class="main">MG</span>
            <span class="additional">off</span>
          </div>
        </div>
        <div class="button">
          <img src="img/line-start-circle.svg" alt="Circle"/>
          <div class="title">
            <span class="main">PS</span>
            <span class="additional">off</span>
          </div>
        </div>
        <div class="button additional">
          <img src="img/bolt.svg" alt="Bolt"/>
          <div class="title">
            <span class="main">Additional load</span>
            <span class="additional">off</span>
          </div>
        </div>
      </div>
      <div class="item wallet">
        <div class="header">
          <img src="img/wallet.svg" alt="Wallet"/>
          <span>$ 124</span>
        </div>
        <div class="content">
          <div class="title">Wallet</div>
          <div class="list">
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card grey">
    <div class="header">
      <div class="image-container">
        <img src="img/gite.svg" alt="gite"/>
      </div>
      <span>Operator</span>
    </div>
    <div class="statistics">
      <div class="item">
        <span class="title">10</span>
        <span class="text">Downstream</span>
      </div>
      <div class="item">
        <span class="title">74</span>
        <span class="text">Upstream</span>
      </div>
      <div class="item">
        <span class="title">3.2</span>
        <span class="text">Gen voltage</span>
      </div>
      <div class="item">
        <span class="title">2.2</span>
        <span class="text">Var voltage</span>
      </div>
    </div>
    <div class="panel">
      <div class="item button-block">
        <div class="button enabled">
          <img src="img/lightbulb-dark.svg" alt="Bulb"/>
          <div class="title">
            <span class="main">Led 1</span>
            <span class="additional">on</span>
          </div>
        </div>
        <div class="button">
          <img src="img/lightbulb.svg" alt="Bulb"/>
          <div class="title">
            <span class="main">Led 2</span>
            <span class="additional">off</span>
          </div>
        </div>
        <div class="button">
          <img src="img/line-end-circle.svg" alt="Circle"/>
          <div class="title">
            <span class="main">MG</span>
            <span class="additional">off</span>
          </div>
        </div>
        <div class="button">
          <img src="img/line-start-circle.svg" alt="Circle"/>
          <div class="title">
            <span class="main">PS</span>
            <span class="additional">off</span>
          </div>
        </div>
        <div class="button additional">
          <img src="img/bolt.svg" alt="Bolt"/>
          <div class="title">
            <span class="main">Additional load</span>
            <span class="additional">off</span>
          </div>
        </div>
      </div>
      <div class="item wallet">
        <div class="header">
          <img src="img/wallet.svg" alt="Wallet"/>
          <span>$ 124</span>
        </div>
        <div class="content">
          <div class="title">Wallet</div>
          <div class="list">
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
