<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Square div in Bootstrap</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>

<style>

@media screen and (min-width: 768px) {
  .row.row-tile .col-sm-3.tile {
    padding: 0;
    border-color: transparent;
    border-style: solid;
    border-top-width: 0;
    border-left-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 0;
    margin-bottom: 6px;
  }
  .row.row-tile .col-sm-3.tile.square {
    padding-bottom: 25%;
  }
  .row.row-tile .col-md-10.tile {
    padding: 0;
    border-color: transparent;
    border-style: solid;
    border-top-width: 0;
    border-left-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 0;
    margin-bottom: 6px;
  }
}
.row.row-tile .tile-content-blue {
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  background: #4679BD;
}
.row.row-tile .tile-content-yellow {
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  background: #ffff00;
}
.row.row-tile .tile-content-silver {
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  background: #c0c0c0;
}
.row.row-tile .tile-content-red {
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  background: #ff0000;
}
.row.row-tile .tile-content1 {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.row.row-tile [class*="col-"] .tile-content-blue:hover {
  box-shadow: #bbb 0px 0px 0px 2px;
}
.row.row-tile [class*="col-"] .tile-content-silver:hover {
  box-shadow: #bbb 0px 0px 0px 2px;
}
.row.row-tile [class*="col-"] .tile-content-red:hover {
  box-shadow: #bbb 0px 0px 0px 2px;
}
.row.row-tile [class*="col-"] .tile-content-yellow:hover {
  box-shadow: #bbb 0px 0px 0px 2px;
}
</style>

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
  <h1>Houses</h1>
  <div class="row row-tile">
    <div class="col-md-10 tile">
      <div class="row row-tile">
        <div class="col-sm-3 tile square ">
          <div class="tile-content-blue">
            House 1
          </div>
        </div>
        <div class="col-sm-3 col-xs-6 tile square">
          <div class="tile-content-yellow">
            House 2
          </div>
        </div>
        <div class="col-sm-3 col-xs-6 tile square">
          <div class="tile-content1">
          </div>
        </div>
        <div class="col-sm-3 col-xs-6 tile square">
          <div class="tile-content1">
          </div>
        </div>
        <div class="col-sm-3 col-xs-6 tile square">
          <div class="tile-content-silver">
            House 3
          </div>
        </div>
        <div class="col-sm-3 col-xs-6 tile square">
          <div class="tile-content-red">
            House 4
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
</body>
</html>
